
@{
    ViewBag.Title = "Done";
}
<div class="jumbotron">
    <h1>Kreator tworzenia nowego zadania.</h1>
    <p class="lead">Kreator przeprowadzi Ciebie przez proces dodawania nowego zadania.</p>
</div>
<div class="progress mb-3">
    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
</div>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Zadanie dodane pomyślnie!</h4>
    <p>Wszystkie podane przez Ciebie dane zostały prawidłowo przetworzone i zostały one dodane do systemu.</p>
    <hr>
    <p class="mb-0">Kreator zadania zakończył swoją pracę.</p>
</div>