@{
    ViewBag.Title = "Index";
}

<h2>Panel Administracyjny</h2>
<p> W tym miejscu fsjk hfsdkjfh hkdsjfhj dshkjfhkj dshkjfhjdshkjf hkdsj</p>

<h3>Zarządzanie tabelami</h3>
<ul>
    <li>
        @Html.ActionLink("Categories", "Index", "Categories")
    </li>
    <li>
        @Html.ActionLink("Subcategories", "Index", "Subcategories")
    </li>

</ul>